* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  width: 1000px;
  height: 400px;
  background: #ccc;
  /* 위&아래, 오른쪽&왼쪽 */
  margin: 120px auto;
  display: flex;
}

.col {
  height: 100%;
  /* 아이템이 자신의 컨테이너가 차지하는 공간에 맞추기 위해 크기를 키우거나 줄이는 방법을 설정하는 속성 */
  flex: 1;
  color: #fff;
  /* 동서남북 */
  padding: 25px;
  /* img를 위해서 relative */
  position: relative;
  transition: 0.6s;
}

/* 차일드 */
.col:nth-child(1) {
  background: #283491;
}

.col:nth-child(2) {
  background: #f18684;
}

.col:nth-child(3) {
  background: #6ee2f1;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.caption {
  max-width: 230px;
  font-size: 12px;
  margin: 28px 0;
  /* hover 하면 보여주기 */
  display: none;
}

.caption button {
  border: 1px solid #fff;
  border-radius: 30px;
  background: transparent;
  /* 버튼 border  */
  outline: none;
  padding: 8px 18px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
}

.col img {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* hover 이벤트 모음 */
.col:hover {
  flex-grow: 2.5;
}

.col:hover .caption {
  display: block;
}

.col:hover h2 {
  text-align: left;
}
