.relative {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: green;
}

.absolute {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: yellow;
}

.absolute2 {
  position: absolute;
  left: 200px;
  width: 200px;
  height: 100px;
  background-color: red;
}
